// colors
$move-color: #100028;
$white-color: #fff;
$aqua-color: #00bfe7;
$gray-color: #4c4c4c;
$black-color: black;

// fonts
$font-size13: 13px;
$font-size15: 15px;
$font-size22: 22px;
$font-size60: 60px;

// margin & padding
$margin: 30px;
$margin-right20: 20px;
$margin-right30: 30px;
$margin-top-bottom: 30px 30px;

// display
$display: none;