$red-color: #ff0000;
$black-color: #000000;
$black-color2: #1e1a1aba;
$white-color: #fff;
$move-color: #7b0ad1;
$gold-color: gold;
$mover-color: #4d0188;
$milky-color: #f3e6e6;
$black-white-color: #3e3e3e;
$med-black: #141414;